<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{166,0},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{0,62},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{166,62},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,45}</string>
                <key>spriteSourceSize</key>
                <string>{188,45}</string>
                <key>textureRect</key>
                <string>{{0,124},{188,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{0,179},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{166,179},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{0,241},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,52}</string>
                <key>spriteSourceSize</key>
                <string>{156,52}</string>
                <key>textureRect</key>
                <string>{{166,241},{156,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texas.png</string>
            <key>size</key>
            <string>{322,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cad0424296677684ba260fb150b6608d:b226e1fd26a800410cdfb1c4b551da82:75b1974bdd9740817d62927e78e02421$</string>
            <key>textureFileName</key>
            <string>texas.png</string>
        </dict>
    </dict>
</plist>
