<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huahuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,61},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{28,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>huahuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,365},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{28,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>huahuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,401},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{28,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>huahuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,61},{28,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{28,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hulu_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{126,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{126,76}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>hulu_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,359},{126,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{126,76}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>hululian.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,365},{184,34}}</string>
                <key>offset</key>
                <string>{-22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,245},{184,34}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>huluwa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{356,534}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,23},{356,534}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>yezi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,401},{34,30}}</string>
                <key>offset</key>
                <string>{93,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,49},{34,30}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,365},{58,46}}</string>
                <key>offset</key>
                <string>{82,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,40},{58,46}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1},{74,58}}</string>
                <key>offset</key>
                <string>{75,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,37},{74,58}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,297},{110,66}}</string>
                <key>offset</key>
                <string>{59,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,32},{110,66}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,365},{128,70}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,28},{128,70}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,359},{162,74}}</string>
                <key>offset</key>
                <string>{33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,24},{162,74}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,285},{178,78}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,20},{178,78}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,99},{196,86}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,12},{196,86}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,195},{212,88}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{212,88}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,99},{216,94}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{216,94}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1},{220,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{220,96}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hulu.png</string>
            <key>size</key>
            <string>{842,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebcabbd87f06ef754d50daa003b1606d:b650b5e64dfec27ce5425ed235a389a1:35e67dfe2bbedcfeab1faa667db654cd$</string>
            <key>textureFileName</key>
            <string>hulu.png</string>
        </dict>
    </dict>
</plist>
