<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dzRecord_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{188,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{235,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{282,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_10_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{329,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{0,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{47,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{94,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{141,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{188,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{235,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{282,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_12_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{329,285},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_13_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{0,342},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_13_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{47,342},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_13_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{94,342},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_13_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{141,342},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{47,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{94,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{141,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{188,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{235,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{282,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{329,0},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{0,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{47,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{94,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{141,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{188,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{235,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{282,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{329,57},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{0,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{47,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{94,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{141,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{188,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{235,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{282,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{329,114},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{0,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{47,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{94,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_7_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{141,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{188,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{235,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{282,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{329,171},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{0,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{47,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{94,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{141,228},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzRecord_Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{188,342},{37,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>recordPokers.png</string>
            <key>size</key>
            <string>{389,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88ac8c559fc091c584fdf628bc7c3507:3421d738433f241fef05edab657f47b4:dd02372ae1a979009382551403710d1a$</string>
            <key>textureFileName</key>
            <string>recordPokers.png</string>
        </dict>
    </dict>
</plist>
