<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meigui_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,163},{14,14}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{14,14}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>meigui_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,163},{14,18}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{14,18}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>meigui_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{18,20}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{18,20}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>meigui_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,139},{22,24}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{22,24}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>meigui_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,139},{32,32}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{32,32}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>meigui_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,51},{44,42}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{44,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>meigui_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{50,48}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{50,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tonghuashun_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{194,80}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{194,80}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>tonghuashun_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{194,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{194,78}}</string>
                <key>sourceSize</key>
                <string>{250,100}</string>
            </dict>
            <key>yezi_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,95},{42,44}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tonghuashun.png</string>
            <key>size</key>
            <string>{254,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c1a84136a48d6498a42a95ac473d5a5:f462c6e6278c74080673c35ea7eb3fac:5ec05f30a22d5f8359abe678eb20d58b$</string>
            <key>textureFileName</key>
            <string>tonghuashun.png</string>
        </dict>
    </dict>
</plist>
