<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>头像_0003_360截图20251009151938792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像_0004_360截图20251009151908910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{242,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像_0005_360截图20251009151822224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{484,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像_0006_360截图20251009151746619.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{726,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像_0007_360截图20251009151719093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{968,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像_0008_360截图20251009151643676.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{1210,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像_0009_360截图20251009151612510.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{1452,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>头像_0011_360截图20251009151330413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,242}</string>
                <key>spriteSourceSize</key>
                <string>{242,242}</string>
                <key>textureRect</key>
                <string>{{1694,0},{242,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userhead.png</string>
            <key>size</key>
            <string>{1936,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d26420267c414711d14eab6596022d7:cdd141d1a2e23cd63f215476b5baa93a:28e572f3521e492e01577f765da39379$</string>
            <key>textureFileName</key>
            <string>userhead.png</string>
        </dict>
    </dict>
</plist>
