<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{129,0},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{0,40},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{129,40},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,87}</string>
                <key>spriteSourceSize</key>
                <string>{156,87}</string>
                <key>textureRect</key>
                <string>{{0,80},{156,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{0,177},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{129,177},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{0,217},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,30}</string>
                <key>spriteSourceSize</key>
                <string>{119,30}</string>
                <key>textureRect</key>
                <string>{{129,217},{119,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texas.png</string>
            <key>size</key>
            <string>{248,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d699911d36fb1ace4a3cc035e7957836:0f13c33491f57b9d1ba1168352b7392b:75b1974bdd9740817d62927e78e02421$</string>
            <key>textureFileName</key>
            <string>texas.png</string>
        </dict>
    </dict>
</plist>
