<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhou_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_10_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{660,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{770,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{880,0},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{0,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{110,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{220,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{330,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{440,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{550,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{660,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{770,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{880,140},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{0,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{110,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{220,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{330,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{440,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{550,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{660,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{770,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{880,280},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{0,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{110,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{220,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{330,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{440,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{550,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{660,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,144}</string>
                <key>spriteSourceSize</key>
                <string>{114,144}</string>
                <key>textureRect</key>
                <string>{{770,700},{114,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{770,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{880,420},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{0,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{110,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{220,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{330,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{440,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{550,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{660,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{770,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{880,560},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{0,700},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{110,700},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{220,700},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{330,700},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{440,700},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{550,700},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,140}</string>
                <key>spriteSourceSize</key>
                <string>{110,140}</string>
                <key>textureRect</key>
                <string>{{660,700},{110,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_pokerSpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,148}</string>
                <key>spriteSourceSize</key>
                <string>{118,148}</string>
                <key>textureRect</key>
                <string>{{884,700},{118,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dezhou_pokers.png</string>
            <key>size</key>
            <string>{1002,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3bece58d8b931d315521429b16022b:b649aec871a269b52e461856e0fcecce:9bd0a635ff4042a07d0cebbd0e95e8e9$</string>
            <key>textureFileName</key>
            <string>dezhou_pokers.png</string>
        </dict>
    </dict>
</plist>
