<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dezhou_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{0,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{97,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{194,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_10_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{291,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{388,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{485,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{582,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{679,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{776,524},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{0,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{97,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_12_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{194,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{291,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{388,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{485,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_13_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{582,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{97,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{194,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{291,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{388,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{485,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{582,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{679,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{776,0},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{0,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{97,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{194,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{291,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{388,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{485,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{582,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{679,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{776,131},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{0,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{97,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{194,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{291,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{388,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{485,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{582,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{679,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{776,262},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_7_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{0,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{97,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{194,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{291,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{388,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{485,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{582,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{679,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{776,393},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dezhou_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,121}</string>
                <key>spriteSourceSize</key>
                <string>{87,121}</string>
                <key>textureRect</key>
                <string>{{679,655},{87,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dezhou_pokers_default.png</string>
            <key>size</key>
            <string>{863,863}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a01216ce61e85c16bbbd725007a5b82a:26fb6f85b6090f88b6215137264a3ef6:d6f7d2a833dde40ae4c6f186f4decb11$</string>
            <key>textureFileName</key>
            <string>dezhou_pokers_default.png</string>
        </dict>
    </dict>
</plist>
