<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>large_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,872},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,872},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,872},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,872},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,872},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,872},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,727},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,727},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,727},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,727},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,727},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,727},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,635},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,582},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,582},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,582},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,582},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,582},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,582},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,424},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,437},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,437},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,437},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,437},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,437},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,437},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,292},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,292},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,292},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,292},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,292},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,292},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,213},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,147},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,147},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,147},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,147},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,147},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,147},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
            <key>large_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,209}}</string>
                <key>sourceSize</key>
                <string>{143,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>large_pokers.png</string>
            <key>size</key>
            <string>{1624,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8919d378d7ef564b62fa6c9506456031$</string>
            <key>textureFileName</key>
            <string>large_pokers.png</string>
        </dict>
    </dict>
</plist>
