<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>small2_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,268},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,135},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
            <key>small2_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,131}}</string>
                <key>sourceSize</key>
                <string>{96,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>small2_pokers.png</string>
            <key>size</key>
            <string>{1430,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27dca148f0d987a956442bc385c3e11a$</string>
            <key>textureFileName</key>
            <string>small2_pokers.png</string>
        </dict>
    </dict>
</plist>
