<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokers_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{0,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{94,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_10_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{188,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_10_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{282,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{376,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{470,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{564,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{658,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{752,504},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{0,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_12_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{94,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_12_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{188,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_13_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{282,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_13_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{376,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_13_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{470,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_13_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{564,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{94,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{188,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{282,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{376,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{470,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{564,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{658,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{752,0},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{0,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{94,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{188,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{282,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{376,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{470,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{564,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{658,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{752,126},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{0,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{94,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{188,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{282,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{376,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{470,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{564,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{658,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{752,252},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_7_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{0,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{94,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{188,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_8_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{282,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{376,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{470,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{564,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_9_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{658,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{752,378},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokers_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{658,630},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>club_pokers_1.png</string>
            <key>size</key>
            <string>{836,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b07347ebdc4af91bcbab93cf300dc55:370b7d8085f168ed879dabbae8d07889:4cf4217b47a7e4b5660797b96076a4ee$</string>
            <key>textureFileName</key>
            <string>club_pokers_1.png</string>
        </dict>
    </dict>
</plist>
