<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker_flowers_1.png</string>
            <key>size</key>
            <string>{440,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4bee5ad66c8d6253c50ddfe591d35c8:4fbec33b8688ed877c5867ecfb10731f:f4327456c1770d41e2609b1238d4fbe0$</string>
            <key>textureFileName</key>
            <string>poker_flowers_1.png</string>
        </dict>
    </dict>
</plist>
