<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>point_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{265,1},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{117,1},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{685,1},{42,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{289,73},{54,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{1,79},{48,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{73,79},{48,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{429,73},{52,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{385,1},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{435,1},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{713,73},{46,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{145,77},{50,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{485,1},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{58,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{325,1},{58,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{191,1},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{42,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{729,1},{42,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{59,1},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{359,73},{54,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{535,1},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{569,73},{48,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{499,73},{52,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{585,1},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{635,1},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{773,1},{46,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>point_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{217,77},{50,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>point_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{641,73},{48,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker_points_2.png</string>
            <key>size</key>
            <string>{820,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99b119523d5db017c1c69de65ef63641:1052460bc5b15e9e69ac8520b8501545:5d921adec4917c1462b2e81350e55c4c$</string>
            <key>textureFileName</key>
            <string>poker_points_2.png</string>
        </dict>
    </dict>
</plist>
