<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokers_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,88},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,206},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,88},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,206},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,88},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>pokers_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers_1.png</string>
            <key>size</key>
            <string>{1722,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b03d9db4ffff2b9e204ac7f07198ab$</string>
            <key>textureFileName</key>
            <string>pokers_1.png</string>
        </dict>
    </dict>
</plist>
