<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangjiatonghuashun_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{314,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{314,86}}</string>
                <key>sourceSize</key>
                <string>{330,100}</string>
            </dict>
            <key>huangjiatonghuashun_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{318,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{318,88}}</string>
                <key>sourceSize</key>
                <string>{330,100}</string>
            </dict>
            <key>meigui_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,179},{16,16}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,35},{16,16}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>meigui_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,209},{16,18}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{16,18}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>meigui_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,209},{20,24}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{20,24}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>meigui_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,179},{24,28}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{24,28}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>meigui_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,179},{36,38}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{36,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>meigui_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,179},{52,50}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{52,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>meigui_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,179},{56,54}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{56,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>yezi_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,179},{46,48}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{46,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huangjiatonghuashun.png</string>
            <key>size</key>
            <string>{320,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6dc9a2166d3729a962842daa4a4ebdc:08b55adbaeadba3a6f8b091973185d48:efbb137e812de9dbb86f2c7b450cee2c$</string>
            <key>textureFileName</key>
            <string>huangjiatonghuashun.png</string>
        </dict>
    </dict>
</plist>
